@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Brand Colors */
  --color-brand-primary: #865832;
  --color-brand-secondary: #A8754D;
  --color-brand-tertiary: #C5A978;
  --color-brand-quaternary: #D9C49D;
  --color-brand-cream: #EEE3C3;

  /* Accent Colors */
  --color-accent-dark: #0E5851;
  --color-accent-light: #73A6A2;

  color-scheme: light;
  background-color: var(--color-brand-cream);
  color: var(--color-brand-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-brand-cream);
  color: var(--color-brand-primary);
}

@keyframes shake {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-shake:hover {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) infinite both;
}