@import "tailwindcss";

@theme {
  --color-deep-sky-blue: #00BFFF;
  --color-cloud-white: #F0F8FF;
  --color-slate-gray: #708090;
  --color-energetic-teal: #008080;
  
  --font-sans: "Inter", sans-serif;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.6;
  font-weight: 400;
  color: var(--color-slate-gray);
  background-color: var(--color-cloud-white);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
